.initialLayerProperties {
  border: 1px solid #eee;
  border-radius: 1px 1px 3px 3px;
  padding: 20px 10px 10px 10px;
  box-sizing: border-box;
}
.childLayerProperties {
  border: 1px solid #eee;
  border-bottom: 1px solid transparent;
  padding: 20px 10px 0px 10px;
  box-sizing: border-box;
}
.tooltipLayer {
  text-align: center;
  margin: 0 0 10px 0;
  font-family: Arial;
  font-style: italic;
  color: #212529;
}
